$color-black: #000;
$color-white: #fff;
$color-base: hsl(49, 76%, 61%);
// https://cssgradient.io/
// $color-base-background: linear-gradient(0deg, rgba(70,237,241,1) 0%, rgba(62,45,253,1) 100%);
$color-base-background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(82, 82, 82) 100%);
